<p><span style="color:blue">Kính gửi Quí Anh/Chị ,<o:p></o:p></span></p>
<p><span style="color:blue">Vui lòng</span> <span style="color:blue">tham khảo các tài liệu đã được ban hành trong tháng {0}<o:p></o:p></span></p>
<table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none">
    <tr>
        <td width="41" valign="top" style="width:31.1pt;border:solid windowtext 1.0pt;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">STT</span><span style="color:white"><o:p></o:p></span>
            </p>
        </td>
        <td width="137" valign="top" style="width:102.4pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Tên tài liệu
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Số hiệu
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Số soát xét
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Phân loại
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Ngày hiệu lực
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Thay thế cho
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Triển khai
                </span>
            </p>
        </td>
        <td width="89" valign="top" style="width:66.8pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Phê duyệt
                </span>
            </p>
        </td>
        <td width="242" valign="top" style="width:181.5pt;border:solid windowtext 1.0pt;border-left:none;background:blue;padding:0in 5.4pt 0in 5.4pt">
            <p>
                <span style="color:white">
                    Đường dẫn đến tài liệu
                </span>
            </p>
        </td>
    </tr>
    {1}
    <tr>
        <td colspan="10" style="border:none;border-top:solid blue 1.0pt;padding:4.5pt 4.5pt 4.5pt 4.5pt">
            <p class="MsoNormal"><span style="color:blue">* Kể từ ngày 05/02/2015 Ban DCC là nơi duy nhất quản lý tất cả các tài liệu trong toàn công ty. Tất cả tài liệu ban hành mới/soát xét lại sau ngày 05/02/2015 mà chưa thông qua Ban DCC xem như không hợp lệ. <br>* Mọi tài liệu có nội dung trùng lặp hoặc trái với tài liệu/quy trình này đều được xem là tài liệu lỗi thời không còn hiệu lực. <o:p></o:p></span></p>
        </td>
    </tr>
</table>
<p>
    <span style="color:blue">Trân trọng,</span>
    <o:p></o:p>
</p>
<p>
    &nbsp;
    <o:p></o:p>
</p>