<tr>
    <td width="41" valign="top" style="width:31.1pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{0}<o:p></o:p></span></p>
    </td>
    <td width="137" valign="top" style="width:102.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{1}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{2}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{3}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{4}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{5}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{6}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{7}<o:p></o:p></span></p>
    </td>
    <td width="89" valign="top" style="width:66.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{8}<o:p></o:p></span></p>
    </td>
    <td width="242" valign="top" style="width:181.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
        <p class="MsoNormal"><span style="color:blue">{9}<o:p></o:p></span></p>
    </td>
</tr>